<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .jumbotron {
            background-color: #343a40;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to My Flask App</h1>
        <p class="lead">Deployment @Devops@ pipeline 6 jenkins: DevOps Tools Engineer</p>
    </div>
</body>
</html>
